{% extends "basic-layout.html" %}

    {% block maincontent %}
        <h2>About this tool</h2>
        <p>This tool was partly inspired by a report by New York City’s Department of Consumer Affairs from 2015, called <a href="/static/documents/Study-of-Gender-Pricing-in-NYC.pdf">From Cradle to Cane: The Cost of Being a Female Consumer</a>.</p>
        <p>The report revealed the existence of a "pink tax", in which the average woman pays 7% more for everyday products and services, translating to an extra $1,351 a year. Women paid more 42% of the time while men paid more 18% of the time.</p>
        <p>This finding was corroborated in <a href="/methods#regression" >analysis performed in building this tool<a>, as deodorants for women cost, on average, about 8% more than deodorants for men.</p>
        <p>The goal of the tool is to elucidate any potential gender tax (blue or pink) imposed and provide active choices in deciding the product attributes one is willing to pay more for.</p>
        <!--<p>Hopefully it will seperate potential biases and targeted marketing from design features.</p> -->
        <p><a href="/methods">Find out more out the methods it employees here</a>.</p>
        <p>As an example, below are some of the informative "masculine" and "feminine" tending words for deodorant. Some of them are brands that have aligned to a specific gender (Secret vs. Old Spice), some are application related (floral, moisturizer), while others are somewhat subjective applications of adjectives (beautiful, incredible vs. endurance, energized).</p>

        <p><img src="/static/documents/deod.png" width="580" height="580"></p>

<!--        <div id="masculine">
            <h3>Masculine-skewed words</h3>
            <ul>
                {% for word in masculine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="feminine">
            <h3>Feminine-skewed words</h3>
            <ul>
                {% for word in feminine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>
-->
  <p>The app is aimed to help guide potential purchase decisions and give consumers more information about the potential gender tax they may be paying for. It specifically informs them what gendered descriptors are costing more so they can decide whether it is worth it. Below are some of these potential high impact descriptors for deodorants. For example, the app informs them they are potentially paying about $0.8 of a pink tax based on the product description. Perhaps that’s enough for them to decide against it. But they also get to see words in the description what likely contributed most to that pink tax and then actively choose to pay the extra for “antioxidant”, “moisturisers”. Or if the other hand, if they see the word “beauty”, “perfect” as the main contributors to the markup instead, they may choose otherwise.</p>

  <p><img src="/static/documents/bow.png" width="580" height="580"></p>

    <p>Thanks to the site <a href="https://axthepinktax.com/">ax the pink tax</a> for giving me the inspiration, and <a href="http://www.katmatfield.com">Kat Matfield</a> whose <a href="https://github.com/lovedaybrooke/gender-decoder">Gender Decoder for Job Postings</a> for the base framework for building this.</p>
    {% endblock %}
