{% extends "basic-layout.html" %}

    {% block maincontent %}
        <h2>About this tool</h2>
        <p>This tool was partly inspired by a report by New York City’s Department of Consumer Affairs from 2015, called <a href="/static/documents/Study-of-Gender-Pricing-in-NYC.pdf">From Cradle to Cane: The Cost of Being a Female Consumer</a></p>
        <p>The report revealed the existence of a "pink tax", in which the average woman pays 7% more for everyday products and services, translating to an extra $1,351 a year. Women paid more 42% of the time while men paid more 18% of the time.</p>
        <p>This finding was corroborated in the <a href="/methods#LM" >analysis performed in building this tool<a>, as deodorants for women were found to cost, on average, about 8% more than deodorants for men.</p>
        <p>The goal of the tool is to help both men and women see any potential gender tax imposed and raise awareness so as to have more of a choice in the product attributes they are willing to pay more for.</p>
        <!--<p>Hopefully it will seperate potential biases and targeted marketing from design features.</p> -->
        <p>As an example, below is a list of informative "masculine" and "feminine" tending words for deodorant. Some of them are brands that have aligned to a specific gender (Secret vs. Old Spice), some are application related (floral, moisturizer), while others are somewhat subjective applications of adjectives (beautiful, incredible vs. endurance, energized).</p>

        <div id="masculine">
            <h3>Masculine-skewed words</h3>
            <ul>
                {% for word in masculine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="feminine">
            <h3>Feminine-skewed words</h3>
            <ul>
                {% for word in feminine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>

    <p><a href="/methods">Find out more out the methods it employees.</a></p>

    <p>Thanks to the site <a href="https://axthepinktax.com/">ax the pink tax</a> for giving me the inspiration, and <a href="http://www.katmatfield.com">Kat Matfield</a> whose <a href="https://github.com/lovedaybrooke/gender-decoder">Gender Decoder for Job Postings</a> for the framework for building this.</p>
    {% endblock %}
