{% extends "basic-layout.html" %}

    {% block maincontent %}
        <h2>About Me</h2>
        <p><img src="/static/documents/Photo.jpg" alt="It's me!" width="550" height="375"></p>
        <p>I am a chemical engineer by education, an analytical problem-solver by aspiration, a runner, rower & racquet-eer by perspiration, a world traveler by inspiration, and a data scientist by vocation.</a></p>

        <p>This project was conceived and created as part of the <a href="https://www.thedataincubator.com/">Data Incubator fellowship,</a> an intensive, 8 week, bootcamp-style program that helps top data and science talent leaving academia with advanced degrees transition to roles as professional data scientists. </p>

        <h2>Contact</h2>
        <p><a href="https://www.linkedin.com/in/cicilishuaili/">Find me on LinkedIn</a> or reach out to me via email at shuaili.li AT mg.thedataincubator.com</p>
    {% endblock %}
