<html>
  <head>
    <title>Ax the Gender Tax: Gender Decoder for Product Descriptions</title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link type="text/css"  rel="stylesheet" media="only screen and (max-device-width: 400px)" href="/static/stylesheets/phone.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-123890666-1', 'auto');
      ga('send', 'pageview');

    </script>


  </head>
  <body>

  <div class="header">
    <h1><a href="/">Ax the Gender Tax</a></h1>
  </div>

  <div class="main-content">
    {% block maincontent %}
    {% endblock %}
  </div>

  <div class="footer">
    <hr />
    <p id="research">This tool was originally built on a study of gender pricing in NYC: <a href="/static/documents/Study-of-Gender-Pricing-in-NYC.pdf">From Cradle to Cane: The Cost of Being a Female Consumer.</a></p>
    <p>The code is on <a href="https://github.com/cicilishuaili/Ax-Gender-Tax">Github</a>, and I welcome any suggestions about <a href="/methods">the methods it uses</a>.</p>

    <p>By cicilishuaili /<a href="/aboutme">about me</a></p>
  </div>


  </body>
</html>
