{% extends "basic-layout.html" %}

    {% block maincontent %}
        <h2>Analysis</h2>
        <!--<div id="masculine">
            <h3>Masculine-skewed words</h3>
            <ul>
                {% for word in masculine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="feminine">
            <h3>Feminine-skewed words</h3>
            <ul>
                {% for word in feminine_coded_words %}
                <li>{{ word }}</li>
                {% endfor %}
            </ul>
        </div>-->
        <p><img src="/static/documents/razors1.png" width="600" height="600"></p>
    {% endblock %}
